@model JMNH_05012024.Models.Alumno
@{


}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center mb-5">@(Model.IdAlumno==0 ?"Alta de" : "Editar Datos de") Alumno</h1>
                <form id="form-alumno">
                    <div class="row">
                        <input type="hidden" class="form-control" name="IdAlumno" id="IdAlumno" value="@Model.IdAlumno">
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" name="nombre" id="nombre" value="@Model.Nombre">
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <label class="form-label">Apellido Paterno</label>
                            <input type="text" class="form-control" name="apellidoPaterno" id="apellidoPaterno" value="@Model.ApellidoPaterno">
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <label class="form-label">Apellido Materno</label>
                            <input type="text" class="form-control" name="apellidoMaterno" id="apellidoMaterno" value="@Model.ApellidoMaterno">
                        </div>
                    </div> 
                </form>
            </div> 
        </div> 
    </div>
</div>
<div>
    @if (Model.IdAlumno != 0)
    {
        <button style="float:right;margin-left:3%" class="btn btn-danger" onclick="eliminarAlumno(@Model.IdAlumno)"><i class='fa fa-trash'></i> Eliminar</button>
    }
    <button style="float:right;margin-left:3%" class="btn btn-success" onclick="saveOrUpdateAlumno()">Guardar</button>

</div>

@section Scripts{
    <script>
        $(() => {
            validarFormAlumno();
            $("#nombre").rules("add", { regex: "^[a-zA-záéíóúÁÉÍÓÚ'.\\s]{1,40}$" })
            $("#apellidoPaterno").rules("add", { regex: "^[a-zA-záéíóúÁÉÍÓÚ'.\\s]{1,40}$" })
            $("#apellidoMaterno").rules("add", { regex: "^[a-zA-záéíóúÁÉÍÓÚ'.\\s]{1,40}$" })
            
        });
        let saveOrUpdateAlumno = () => {

            if (!$("#form-alumno").valid()) {
                return false;
            }
            swal({
                title: "¿Estás seguro de realizar esta acción?",
                text: "",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((confirmar) => {
                if (confirmar) {
                    var form = $("#form-alumno")[0];
                    var formData = new FormData(form);
                    $.ajax({
                        type: "POST",
                        url: "/Alumno/SaveOrUpdateAlumno",
                        data: formData,
                        processData: false,  // tell jQuery not to process the data
                        contentType: false,   // tell jQuery not to set contentType
                        success: function (msg) {
                            console.log(msg)
                            if (msg.status == 200 || msg.status == 201) {
                                if (msg.status == 200) {
                                    swal({
                                        title: "ÉXITO",
                                        text: "Proceso terminado con éxito",
                                        icon: "success",
                                        button: "Aceptar",
                                    }).then((value) => {
                                        window.location.href = '/Alumnos'
                                    });
                                }
                                else if (msg.status == 201) {
                                    swal({
                                        title: "ALUMNO EXISTENTE",
                                        text: msg.message,
                                        icon: "warging",
                                        button: "Aceptar",
                                    })
                                } else {
                                    swal({
                                        title: "Error",
                                        text: "Ocurrio un error, intentelo nuevamente",
                                        icon: "warning",
                                        button: "Aceptar",
                                    });
                                }
                            } else {
                                swal({
                                    title: "Error",
                                    text: "Ocurrio un error, intentelo nuevamente",
                                    icon: "warning",
                                    button: "Aceptar",
                                });
                            }
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                }
            });
        }
        let validarFormAlumno = () => {
            jQuery.validator.setDefaults({
                debug: true,
                success: "valid",
                highlight: function (element) {
                    $(element).css('border-color', 'red');
                },

                // Called when the element is valid:
                unhighlight: function (element) {

                    $(element).css('background', '#ffffff');
                    $(element).css('border-color', '#256d18');

                }
            });
            $.validator.addMethod("valueNotEquals", function (value, element, arg) {
                return arg !== value;
            }, "Seleccione una opción.");
            $.validator.addMethod(
                "regex",
                function (value, element, regexp) {
                    var re = new RegExp(regexp);
                    return this.optional(element) || re.test(value);
                },
                "Solo acepta caracteres alfabeticos."
            );
    
            $("#form-alumno").validate({

                rules: {
                    nombre: { required: true },
                    apellidoPaterno: { required: true },
                    apellidoMaterno: { required: true },


                },
                messages: {
                    nombre: { required: 'Campo requerido' },
                    apellidoPaterno: { required: "Este campo es requerido" },
                    apellidoMaterno: { required: "Este campo es requerido" },


                }
            });
        }
        let eliminarAlumno = (IdAlumno) => {
            swal({
                title: "Estás seguro de eliminar este alumno",
                text: "",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((confirmar) => {
                if (confirmar) {
                    $.ajax({
                        url: "/Alumno/EliminarAlumno",
                        data: { IdAlumno: IdAlumno },
                        success: function (msg) {
                            console.log(msg)
                            if (msg.status == 200) {
                                swal({
                                    title: "ÉXITO",
                                    text: "Alumno eliminado con éxito",
                                    icon: "success",
                                    button: "Aceptar",
                                }).then((value) => {
                                    window.location.reload();
                                });
                            } 
                            else {
                                swal({
                                    title: "Error",
                                    text: "Ocurrio un error, intentelo nuevamente",
                                    icon: "danger",
                                    button: "Aceptar",
                                });
                            }
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                }
            });

        }
    </script>
}